# ==============================
# NODE MODULES
# ==============================
node_modules/
*/node_modules/

# ==============================
# LOG FILES
# ==============================
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==============================
# ENV FILES
# ==============================
.env
.env.*
server/.env
client/.env

# ==============================
# BUILD FILES
# ==============================
dist/
build/
client/dist/

# ==============================
# DATABASE
# ==============================
*.sqlite
*.sqlite3
server/src/*.sqlite

# ==============================
# OS FILES
# ==============================
.DS_Store
Thumbs.db

# ==============================
# IDE FILES
# ==============================
.vscode/
.idea/

# ==============================
# TEMP FILES
# ==============================
*.tmp
*.cache